<p style="color: green"><%= notice %></p>

<h1>Estudiantes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Rut</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido Paterno</th>
      <th scope="col">Apellido Naterno</th>
      <th scope="col">Codigo Curso</th>
      <th scope="col">Descripcion Curso</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
<div id="students">
  <% @students.each do |student| %>
  <tr>
      <%= render student %>
      <td> <%= link_to "Ver", student , class:'btn btn-primary'%> </td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>

