<div id="<%= dom_id plan %>">
  <p>
    <strong>Code:</strong>
    <%= plan.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plan.description %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= plan.duration %>
  </p>

</div>
